---
import { Image, imageConfig } from "astro:assets";

import image1 from "@images/1/cat_1.jpg";

import ImageGallery from "@components/Gallery.astro";
import Slider from "@components/Slider.astro";
import Test from "@components/Test.astro";

// import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="A simple Gallery sample for Astro" />
    <title>Astro Gallery Compontent</title>
  </head>
  <body>
    <h1>Astro Gallery From Markdown Files</h1>
    <h2>With Open Props</h2>
    <a href="https://www.youtube.com/watch?v=Fcw4c3wzm7I" target="_blank"
      >Coding in Public Content Collections</a
    > This explores the use of JSON in content collections, which might be better
    for galleries.</body
  >
  <Test testid="1" />
  <h2>Gallery Component</h2>
  <!-- <a href="/gallery/1/">Page: Gallery 1</a> -->
  <section>
    <h3>Gallery 1</h3>
    <ImageGallery galleryid="2" />
    <h3>Gallery 2</h3>
    <ImageGallery galleryid="1" />
  </section>
  <Slider galleryid="3" />

</html>
