---
// import "../styles/style.css";

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="A simple Gallery sample for Astro" />
    <title>Astro Gallery Compontent</title>
  </head>
  <body>
<div>
    <p>Styles</p>
    <h1>Headline 1</h1>
    <h2>Headline 2</h2>
</div></body></html>