---
// Vanilla Gallery
import { type CollectionEntry, getEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  galleryid: string;
  gallery?: CollectionEntry<"galleries">; // gallery is now optional
}

const { galleryid } = Astro.props;

const gallery = await getEntry("galleries", galleryid);
const images = gallery ? gallery.data.images : [];
---
<h1>Gallery Component</h1>

<section class="grid">
  {
    images.map((photo) => (
      <figure class="imagediv">
        <Image
          src={photo.src}
          alt={JSON.stringify(photo.alt)}
          widths={[400, 600, 1200]}
          quality={40}
          loading={"lazy"}
        />
        {photo.title ? <p>{photo.title}</p> : null}
        {photo.description ? <p>{photo.description}</p> : null}
      </figure>
    ))
  }
</section>
<style>
  img {
    width: 400px;
    height: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
</style>
