---
// Basic Carousel
//
import { type CollectionEntry, getEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  galleryid: string;
  gallery?: CollectionEntry<"galleries">; // gallery is now optional
}

const { galleryid } = Astro.props;

const gallery = await getEntry("galleries", galleryid);
const images = gallery ? gallery.data.images : [];
---

<h1>Swiper</h1>
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {
      images.map((photo) => (
        <div class="swiper-slide">
          <Image
            src={photo.src}
            alt={JSON.stringify(photo.alt)}
            widths={[600, 1200, 2000]}
            quality={40}
          />
          {photo.title ? <p>{photo.title}</p> : null}
          {photo.description ? <p>{photo.description}</p> : null}
        </div>
      ))
    }
  </div>
</div>

<style>
  .swiper {
    width: 1200px;
    height: 300px;
  }
</style>

